 <div class="footer-social-icons">	
 	<p>&copy; 2016 HealthMG, Inc.</p>			
	<ul class="social-icons">
		<li><a href="https://www.facebook.com/" class="social-icon" target="_blank"> <i class="fa fa-facebook"></i></a></li>
		<li><a href="https://www.twitter.com" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.linkedin.com" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://www.plus.google.com" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
	
	</ul>
 </div>
 